.container {
    width: 100%;
}
.header {
    text-align: center;
    padding: 20px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
}
.addBtn {
    margin: 20px 0 10px 20px;
    width: 5%;
    padding: 10px;
    background: #78AB46;
    color: #fff;
    border: none;
    text-transform: uppercase;
}
.infoWrapper {
    width: 99%;
    margin: 20px;
    display: flex;
    justify-content: row;
    text-transform: uppercase;
}
.infoWrapper > div {
    width: 50%;
}
.infoWrapper > span {
    width: 50%;
    font-weight: bold;
}